<router-outlet></router-outlet>
<!-- <div class="container">
  @if (age <= 15) {
    <h1>{{name}} {{message1}}</h1>
  }@else if(age <=21) {
    <h1>{{name}} {{message2}}</h1>
  }@else {
    <h1>{{name}} est adulte maintenant</h1>
  }
</div>
@for (person of persons; track $index) {
  <p>{{person.name}} est age de {{person.age}}</p><br>
}

<hr>

<h2>Liste des animaux</h2>
@for (animal of animals; track $index) {
  @switch (animal.age) {
    @case (5) {
      <p>L'animal vieillit.</p>
      <p>{{animal.name}} est un(e) {{animal.race}} age de {{animal.age}} an(s).</p>
      <hr>
    }
    @case (2) {
      <p>Il es en phase d'accroissance.</p>
      <p>{{animal.name}} est un(e) {{animal.race}} age de {{animal.age}} an(s).</p>
      <hr>
    }
    @default {
      <p>Il est de LatCity.</p>
      <p>{{animal.name}} est un(e) {{animal.race}} age de {{animal.age}} an(s).</p>
    }
  }
} -->
<!-- <p>la somme :{{sum(12, 13)}}</p> -->

